{% extends "templates/pageTemplate.html" %}

        <!-- Для шапки и футера однозначно нужен темплейт -->
{% block content %}
{% include "templates/pageTopMenu.html" %}
<hr>
<link rel="stylesheet" href="/css/search.css">
    <div class="content row">
        <div class="result-search col-xl-9 col-md-7 col-sm-7 col-6 text-center">
                {% if mas_name %}
                        <h2>Доступные опросы:</h2>
                        {% for name in mas_name %}
                        <a href={{'/survey/name'+name}}>{{name}} ({{mas_desc.shift()}})</a>
                        <br>
                        {% endfor %}
                {% else %}
                        <h2>Доступных опросов нет</h2>
                        <br>
                {% endif %}
                {% if res_name %}
                        <h2>Результаты опросов:</h1>
                        {% for name in res_name %}
                        <a href={{'/survey/name'+name}}>{{name}} ({{res_desc.shift()}})</a>
                        <br>
                        {% endfor %}
                {% endif %}
            
        </div>
        {% include "templates/sideMenuTemplate.html" %}
    </div>

{% endblock %}
