{% extends "templates/pageTemplate.html" %}
        <!-- Для шапки и футера однозначно нужен темплейт -->
{% block content %}
{% include "templates/pageTopMenu.html" %}
<hr>
<link rel="stylesheet" href="/css/search.css">
    <div class="content row">
        <div class="result-search col-xl-9 col-md-9 col-sm-9 col-12">
                
                <br>
                <center><h4>Cookies</h4></center>
                <br>
                <p><b>Куки-файлы</b><br>
Мы используем куки-файлы (cookies) на нашем сайте для того, чтобы улучшить его работу.</p>

<p>Что такое куки-файлы?<br>
Куки-файлы представляют собой небольшие текстовые файлы, которые пересылаются на ваш компьютер (или мобильное устройство), когда вы впервые посещаете сайт. Они помогают опознать вас (ваше устройство), когда вы в следующий раз посетите сайт; помогают вам быстрее справляться с формами для заполнения, а также рекомендовать определенный контент, исходя из вашего предыдущего поведения на сайте. Термин cookies применяется по отношению ко всем файлам, которые собирают информацию подобным образом.
</p>
<p>Некоторые куки-файлы содержат личную информацию. Например, если вы кликнете на «напомнить мне» при загрузке, такой файл запомнит ваше имя пользователя. Но большинство куки-файлов не собирает информацию, по которой можно идентифицировать конкретно вас, вместо этого они собирают более общую информацию (местоположение, географическая зона и пр.).
    </p>
<p>Какими куки-файлами пользуется Инжиниринговый дивизион Госкорпорации «Росатом»?<br>
В общих чертах, наши куки-файлы выполняют четыре различные функции:
</p>
<p>Основные куки-файлы<br>
Такие куки-файлы позволяют идентифицировать подписчиков и гарантировать, что они заходят только на страницы, на которые подписались. Если подписчик выберет вариант отмены этих куки-файлов, то он не сможет получить доступ ко всему содержанию, которое обеспечено ему подпиской.
</p>
<p>Оперативные куки-файлы<br>
Куки-файлы этого типа используются для анализа того, как вы пользуетесь нашим сайтом, для мониторинга его показателей. Это позволяет нам предоставлять высококачественные услуги за счет предоставления быстрого доступа к наиболее популярным страницам.
</p>
<p>Функциональные куки-файлы<br>
Подобные куки-файлы используются, чтобы запоминать предпочтения пользователей. К примеру, они помогают сберечь ваше время при заполнении различных форм, для сохранения указанных вами в качестве предпочтительных настроек.
</p>
<p>Другие куки-файлы<br>
Определенные куки-файлы используются для сбора статистики, мониторинга трафика на сайте (например, при работе с программами «Яндекс. Метрика» и Google Analytics), улучшения функциональности сайта, а также выявления использования ботов (роботов).
</p>
<p>Больше информации<br>
Иногда куки-файлы используются рекламодателями для того, чтобы показывать пользователям рекламу, исходя из их предпочтений. Если вы – резидент Европейского Союза и хотите узнать больше о том, как куки-файлы используются в таких целях или выбрать отказ от них, пожалуйста, посетите www.youronlinechoices.eu. Помните, что если вы выберете отключение использования куки-файлов, вы можете обнаружить, что некоторые разделы сайтов не будут работать привычным для вас образом.</p>

<p>Более подробно о том, как юридические лица могут использовать куки-файлы, рассказано на <a href="https://www.allaboutcookies.org">www.allaboutcookies.org</a>.</p>

        </div>
        {% include "templates/sideMenuTemplate.html" %}
    </div>

{% endblock %}