{% extends "templates/pageTemplate.html" %}

        <!-- Для шапки и футера однозначно нужен темплейт -->
{% block content %}
<link rel="stylesheet" href="/css/search.css">
<link rel="stylesheet" href="/css/reports.css">
{% include "templates/pageTopMenu.html" %}

<hr>
    <div class="content row">
        <div class="col-xl-9 col-md-7 col-sm-7 col-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250 cards">
          <img class="card-img-right flex-auto d-none d-lg-block mr-2" data-src="" alt="" style="width: 230px; height: 350px;" src="/file/{{event.img}}" data-holder-rendered="true">
              <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0">
                  <img src="/img/event.png">
                  <a class="text-dark" href="/event/id/{{event._id}}" >{{event.name}}</a>
                </h3>
                
                <div class="mb-1 text-muted mb-auto">{{event.creatingDate}}</div>
                  <div class="container">
                    <div class="row justify-content-around">
                        <div class="mb-2"> 
                            <h6>
                                <img src="img/eventdate.png"><a href="">{{event.eventDate}}</a>
                            </h6>
                            <br>
                            <h6>
                                    <img src="img/eventadress.png"><a href="">{{event.address}}</a>
                            </h6>

                            
                          </div>   
                          <div class="mb-2"> 
                              {%if (event.annotation) %}
                              <h6>
                                    <img src="img/allreport.png"><a href="/file/{{ event.annotation }}">Скачать аннотацию</a>
                              </h6>
                              {% else %}
                              <h6>
                                    <img src="img/allreport.png"><a href="">Аннотация еще не добавлена</a>
                              </h6>
                              {% endif %}
                              
                          </div>  
                  </div>
                
                  </div>
                  <p class="card-text mb-auto"><img src="img/eventthems.png">{{event.description}}</p>
                </div>
          </div>
            
    </div>
      
        {% include "templates/sideMenuTemplate.html" %}
    </div>

{% endblock %}