{% extends "templates/pageTemplate.html" %}

        <!-- Для шапки и футера однозначно нужен темплейт -->
{% block content %}
<link rel="stylesheet" href="/css/search.css">
<link rel="stylesheet" href="/css/reports.css">
<link rel="stylesheet" href="/css/adminfile.css">
{% include "templates/pageTopMenu.html" %}

<hr>
    <div class="content row">
        <div class="col-xl-9 col-md-9 col-sm-9 col-12">
      <div class="container main">
          <h1>{{name}}</h1>
          <h3>{{description}}</h3>
          <h4>{{firstDate}} - {{lastDate}}</h4>
          <form method="POST" action="firstdate">
            <h4>Дата начала согласования: {{firstDate}}</h4>
            <p><input type="date" name="firstDate" class="dialog-input"> <button type="submit"> Обновить </button></p>
          </form>
          <form method="POST" action="lastdate">
            <h4>Дата завершениея согласования: {{lastDate}}</h4>
            <p><input type="date" name="lastDate" class="dialog-input"> <button type="submit"> Обновить </button></p>
          </form>
          <p><a href={{ file }} class="link">Cкачать файл обсуждения</a></p>
          <p><a href ="/fileNegotiation/admin/csv/id{{id}}"  class="link">Скачать обсуждение в .csv формате</a></p>
          <p>Участники: 
              {% for item in access %}
              < <a href={{item}} class="link">{{item}}</a> >
              {% endfor %}
          </p>
          <br>
          <button type="button" class="btn btn-primary m-btn" data-toggle="modal" data-target="#add">Добавить участников</button>

          <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addrsLabel">Управление участниками</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <table class="table">
                          <thead>
                            <tr>
                              <th>Логин</th>
                              <th>Дейтсвие</th>
                            </tr>
                          </thead>
                      <tbody>
                    {% for sh in stakeholder %}
                    {%if sh.login in access%}
                      {%else%}
                      <tr>
                          <th scope="row">{{sh.login}}
                          </th>
                          <td><a id="hide" href="/fileNegotiation/admin/id{{id}}/sh{{sh.id}}/add">Добавить</a></td>
                        </tr>
                      {%endif%}
                    {% endfor %}
                  </tbody>
                </table>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                  </div>
              </div>
            </div>
        </div>
          <p>Согласовали: {% for agr in agreement %}
            {{agr.login}}({{agr.data}})<br>
            {% endfor %}</p>
      </div>
      <br>
      <div class="container update">
        <form  method="POST" enctype="multipart/form-data">
          <p>Обновить файл: <input name="file" type="file"></p>
          <p><button type="submit" class="">обновить</button></p>
        </form>
        
        <form method="POST" action="back">
            <p>
            <button type="submit" class="">назад к списку</button>
          </p>
        </form> 
      </div>
      <div class="container result">{{response}}</div>
    </div>

    {% include "templates/sideMenuTemplate.html" %}
  </div>
  <script src="/js/neg.js"></script>
{% endblock %}