{% extends "templates/pageTemplate.html" %}

{% block content %}
<link rel="stylesheet" href="/css/adminfile.css">

      <div class="container main">
          <h1>{{name}}</h1>
          <h3>{{description}}</h3>
          <h4>{{firstDate}} - {{lastDate}}</h4>
          <p class="dialog">
              
              Диалог:<br>
              {% for d in dialog %}
              {{d.sender}}: {{d.text}} <br>
              {% endfor %}</p>
              <form method="POST">
                  <p><input type="text" name="dialog" class="dialog-input"> <input type="submit" class="auth-button btn btn-primary btn-block but"></p>
              </form>
              <form method="POST" action="back">
                    <p><input type="submit" value="назад к списку" class="auth-button btn btn-primary btn-block but"></p>
                </form>

              
          
      </div>
      <div class="container result">{{response}}</div>
      
      {% endblock %}