{% extends "templates/pageTemplate.html" %}

{% block content %}
<link rel="stylesheet" href="/css/adminfile.css">

      <div class="container main">
          <h1>{{name}}</h1>
          <h3>{{description}}</h3>
          <h4>{{firstDate}} - {{lastDate}}</h4>
          <p><a href={{ file }} class="link">скачать файл</a></p>
          <p>Участники: 
              {% for item in access %}
              < <a href={{item}} class="link">{{item}}</a> >
              {% endfor %}
          </p>
          <p>Согласовали: {% for agr in agreement %}
            {{agr.login}}(время:{{agr.data}})<br>
            {% endfor %}</p>
      </div>
      <br>
      <div class="container update">
        <form  method="POST" enctype="multipart/form-data">
          <p>Обновить файл: <input name="file" type="file"></p>
          <p><input type="submit" class="auth-button btn btn-primary btn-block but"></p>
        </form>
        <form method="POST" action="back">
            <p><input type="submit" value="назад к списку" class="auth-button btn btn-primary btn-block but"></p>
        </form>
      </div>
      <div class="container result">{{response}}</div>
      
{% endblock %}