{% extends "templates/pageTemplate.html" %}

        <!-- Для шапки и футера однозначно нужен темплейт -->
{% block content %}
<link rel="stylesheet" href="/css/adminlk.css">
<link rel="stylesheet" href="../css/regsurvey.css">
<div class="password"> 
  <div class="container">
      <div class="password-titel">
          <img src="">
          <h4>Cмена пароля</h4>
      </div>
    <form action="/lk" method="POST"> 
      <div class="form-group">
          <label for="eventName">Новый пароль</label>
          <input type="text" class="form-control" id="eventName" name="password" placeholder="">
      </div>
      <button type="submit" onclick="send()">Сменить</button>
   
    </form>
  </div>
</div>
<div class="reports"> 
        <div class="container">
                <div class="reports-titel">
                  <img src="/img/reports.png">
                  <h4>Отчеты</h4>
                </div>
                <div class="report-set">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="new-report-tab" data-toggle="tab" href="#new-report" role="tab" aria-controls="new-event" aria-selected="true">Опубликовать новый отчет</a>
                          <a class="nav-item nav-link" id="all-report-tab" data-toggle="tab" href="#all-report" role="tab" aria-controls="all-report" aria-selected="false">Управление существующими отчетами</a>
                        </div>
                    </nav>
                    
          
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="new-report" role="tabpanel" aria-labelledby="new-report-tab">
                          
                      
                                <form action="/publicreport/new" method="POST" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="reportName">Название отчета</label>
                                        <input type="text" class="form-control" id="reportName" name="name" placeholder="Введите название отчета">
                                    </div>
                                    <div class="form-group">
                                        <label for="reportDescription">Описание отчета</label>
                                        <textarea class="form-control" id="reportDescription" name="description" rows="4"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="reportStandarts">Стандарты</label>
                                        <textarea class="form-control" id="reportStandarts" name="standarts"  rows="4"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="reportRevards">Награды отчета</label>
                                        <textarea class="form-control" id="reportRevards" name="revards"  rows="4"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="pdfReportfull">Загрузите pdf отчета на русском</label>
                                        <input type="file" accept="application/pdf" class="form-control-file" id="pdfReportfull" name="pdf">
                                    </div>
                                    <div class="form-group">
                                        <label for="pdfReport">Загрузите сокращенную pdf отчета на русском</label>
                                        <input type="file" accept="application/pdf" class="form-control-file" id="pdfReport" name="rusSmall">
                                    </div>
                                    <div class="form-group">
                                        <label for="pdfReportEng">Загрузите pdf отчета на английском</label>
                                        <input type="file" accept="application/pdf" class="form-control-file" id="pdfReportEng" name="pdfEng">
                                    </div>
                                    <div class="form-group">
                                            <label for="pdfReportEngSmall">Загрузите сокращенную pdf отчета на английском</label>
                                            <input type="file" accept="application/pdf" class="form-control-file" id="pdfReportEngSmall" name="engSmall">
                                    </div>
                                    <div class="form-group">
                                        <label for="imgReport">Загрузите обложку отчета</label>
                                        <input type="file" accept="image/jpeg,image/png" class="form-control-file" id="imgReport" name="img">
                                    </div>
                                    <button type="submit"  class="">Опубликовать</button>
                                  </form>
                               
                        
                        </div>
                    
                  
                        <div class="tab-pane fade" id="all-report" role="tabpanel" aria-labelledby="all-report-tab">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th>Название</th>
                                    <th>Дата публикации</th>
                                    <th></th>
                                  </tr>
                                </thead>
                            <tbody>
                          {% for report in reports %}
                          <tr>
                          <td>{{report.name}}</td>
                          <td>{{report.creatingDate}}</td>
                          <td><a href="/publicreport/update/{{report._id}}">Редактировать</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                            </table>
                        </div>
                    </div>
                  </div>
                </div> 
              
</div>
<div class="survey">  
        <div class="container">
                <div class="survey-titel">
                        <img src="/img/negotiation.png">
                        <h4>Опросы</h4>
                    </div>
                    <div class="survey-set">
                      <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="new-survey-tab" data-toggle="tab" href="#new-survey" role="tab" aria-controls="new-survey" aria-selected="true">Новый опрос</a>
                          <a class="nav-item nav-link" id="all-survey-tab" data-toggle="tab" href="#all-survey" role="tab" aria-controls="all-survey" aria-selected="false">Управление существующими</a>
                        </div>
                      </nav>
              
                      <div class="tab-content" id="nav-tabContent">
                          <div class="tab-pane fade show active" id="new-survey" role="tabpanel" aria-labelledby="new-survey-tab">
                                <div class="container"> 
                                        название анкеты: <input type="text" class="name"> 
                                        уровень доступа: <select class="lvl">
                                            <option value="user">user</option>
                                            <option value="stakeholder">stakeholder</option>
                                          </select>
                                        кол-во полей в анкете: <input type="text" class="number"> (максимум 40)
                                    </div>
                                    <br>
                                    <div class="container"> описание к опросу: <input type="text" class="description">  </div>
                                    <br>
                                    <div class="container">
                                      введите дату начала опроса: <input type="date" class="first_date"> 
                                      введите дату завершения опроса: <input type="date" class="last_date">
                                    </div>
                                    <br>
                                    <div class="container main"></div>
                                    <button >создать</button>
                                    <div class="container result"></div>
                                
                          </div>
                          <div class="tab-pane fade" id="all-survey" role="tabpanel" aria-labelledby="all-survey-tab">
                                <div class="scroll-div">
                              <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Название</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                              <tbody>
                                  {% for it in survey %}
                                  <tr>
                                  <td>{{it.name}}</td>
                                  <td><a href='/createsurvey/res/{{it.id}}'>Посмотреть</a></td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                              </div>
                          </div>
                      </div>
        </div>
    </div>
</div>

  <div class="negotiation">
    <div class="container">
      <div class="negotiation-titel">
          <img src="/img/negotiation.png">
          <h4>Согласование материалов</h4>
      </div>
      <div class="negotiation-set">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="new-negotiation-tab" data-toggle="tab" href="#new-negotiation" role="tab" aria-controls="new-event" aria-selected="true">Новое согласование</a>
            <a class="nav-item nav-link" id="all-negotiation-tab" data-toggle="tab" href="#all-negotiation" role="tab" aria-controls="all-event" aria-selected="false">Управление существующими</a>
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="new-negotiation" role="tabpanel" aria-labelledby="new-negotiation-tab">
                <form  action="/fileNegotiation/admin/reg" method="POST" enctype="multipart/form-data">
                  <p>Введите название: <input type="text" name="name"> введите описание: <input type="text" name="description"> </p>
                  <p>введите дату начала: <input type="date" name="firstDate"> 
                    введите дату завершения: <input type="date" name="lastDate"></p>
                  <p>Прикрепить файл: <input name="file" type="file">  </p>
                  <p>Stakeholders list:<br>
                      {% for st in sHolder %}
                      <label><input type="checkbox" name='access' value={{st.login}} /> {{st.login}}</label><br>
                      {% endfor %}
                  </p>
                  <button type="submit">Согласовать</button>
                </form> 
            </div>
            <div class="tab-pane fade" id="all-negotiation" role="tabpanel" aria-labelledby="all-negotiation-tab">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Название</th>
                        <th></th>
                      </tr>
                    </thead>
                <tbody>
                    {% for f in file %}
                    <tr>
                    <td>{{f.name}}</td>
                    <td><a href='/fileNegotiation/admin/id{{f.id}}/'>посмотреть</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
      </div>
      </div>
  </div>
  
  <div class="events">
    <div class="container">
      <div class="events-titel">
        <img src="/img/events.png">
        <h4>Мероприятия</h4>
      </div>
      <div class="events-set">
          <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="new-event-tab" data-toggle="tab" href="#new-event" role="tab" aria-controls="new-event" aria-selected="true">Новое мероприятие</a>
                <a class="nav-item nav-link" id="all-event-tab" data-toggle="tab" href="#all-event" role="tab" aria-controls="all-event" aria-selected="false">Управление существующими мероприятиями</a>
              </div>
          </nav>
          

          <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="new-event" role="tabpanel" aria-labelledby="new-event-tab">
                
            
                  <form action="/events/new" method="POST" enctype="multipart/form-data"> 
                    <div class="form-group">
                        <label for="eventName">Название мероприятия</label>
                        <input type="text" class="form-control" id="eventName" name="name" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="eventDescription">Описание мероприятия</label>
                        <textarea class="form-control" id="eventDescription" name="description" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="eventData">Дата мероприятия</label>
                        <input type="datetime-local" class="form-control" id="eventDate" name="date" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="eventAddress">Адрес</label>
                        <input type="text" class="form-control" id="eventAddress" name="address"  placeholder="">
                    </div>
                    <div class="form-group">
                            <label for="annotationIvent">Загрузите протокол мероприятия</label>
                            <input type="file" accept="application/pdf" class="form-control-file" id="annotationIvent" name="annotation">
                    </div>
                    <div class="form-group">
                            <label for="presentationIvent">Загрузите презентацию мероприятия (.pdf или .zip)</label>
                            <input type="file"  class="form-control-file" id="presentationIvent" name="presentation">
                    </div>
                    <div class="form-group">
                            <label for="imgEvent">Загрузите фото к мероприятию</label>
                            <input type="file" accept="image/jpeg,image/png" class="form-control-file" id="imgEvent" name="img">
                    </div>
                    <div class="scroll-div">
                    <table class="table">
                            <thead>
                              <tr>
                                <th>
                                    <div class="form-check">
                                        <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" name="shCheckAll" value="all" aria-label="...">
                                    </div>
                                </th>
                                <th>ФИО</th>
                                <th>Компания</th>
                              </tr>
                            </thead>
                        <tbody>
                        {% for sh in sHolder %}
                        {% if sh.state != '0'%}
                       <tr>
                      <th scope="row">
                          <div class="form-check">
                              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" name="shCheck" value="{{sh._id}}" aria-label="...">
                          </div>
                      </th>
                      <td>{{sh.lastname}} {{sh.firstname}} {{sh.patronymic}}</td>
                      <td>{{sh.organization}}</td>
                    </tr>
                       {%endif%}
                       {% endfor %}
                      </tbody>
                    </table>
                    </div>
                    <button type="submit" class="">Создать</button>
                  </form>
              
              </div>
           
          
        
              <div class="tab-pane fade" id="all-event" role="tabpanel" aria-labelledby="all-event-tab">
                    <div class="scroll-div">
                  <table class="table">
                      <thead>
                        <tr>
                          <th>Название</th>
                          <th>Дата</th>
                          <th>Список приглашенных</th>
                          <th></th>
                        </tr>
                      </thead>
                  <tbody>
                {% for event in events %}
                <tr>
                <td>{{event.name}}</td>
                <td>{{event.eventDate}}</td>
                <td><a href="/events/csv/{{event._id}}">Скачать список приглашенных(csv)</a></td>
                <td><a href="/events/edit/{{event._id}}">Редактировать</td>
                </tr>
                {% endfor %}
              </tbody>
                  </table>
                  </div>
              </div>
          </div>
        </div>
      </div> 
  </div>
    
  
  <div class="confirmSh">
    <div class="container">
      <div class="confirmSh-titel">
        <img src="/img/confirmSh.png">
        <h4>Подтверждение регистрации стейкхолдера на платформе</h4>
      </div>
      <nav>
          <div class="nav navbar-light nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-all-sh" data-toggle="tab" href="#all-sh" role="tab" aria-controls="all-sh" aria-selected="true">Все({{sHolder.length}})</a>
            <a class="nav-item nav-link" id="nav-public-sh" data-toggle="tab" href="#public-sh" role="tab" aria-controls="public-sh" aria-selected="false">Опубликованные({{counts[1]}})</a>
            <a class="nav-item nav-link" id="nav-wait-sh" data-toggle="tab" href="#wait-sh" role="tab" aria-controls="wait-sh" aria-selected="false">Ожидают({{counts[0]}})</a>
            <a class="nav-item nav-link" id="nav-closed-sh" data-toggle="tab" href="#closed-sh" role="tab" aria-controls="closed-sh" aria-selected="false">Закрыты({{counts[2]}})</a>
          </div>
      </nav>
      <form action="/lk/shMethod" method="POST">
      <div class="container">
        
          
            <div class="row">
            <div class="cal-sm6">
            <div class="container">
            <div class="row">
               <div class="form-group cal-sm10">
                 
                    <select class="form-control" id="sh-event" name="shEvent">
                      <option value="0">Действие... </option>
                      <option value="csv">Скачать список выбранных заявителей csv </option>
                      <option value="agree">Подтвердить регистрацию в качестве стейкхолдера </option>
                      <option value="close">Закрыть личный кабинет конкретного стейкхолдера </option>
                  </select>
              </div>
              <div class="cal-sm2">
                <button type="submit" class="" >применить</button>
              </div>
            </div>
            </div>
        </div>
        </div>
        
            
         
        <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="all-sh" role="tabpanel" aria-labelledby="all-sh-tab">
                    <div class="scroll-div">
                  <table class="table">
                      <thead>
                        <tr>
                          <th>
                              <div class="form-check">
                                  <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" name="shCheck" value="all" aria-label="...">
                              </div>
                          </th>
                          <th>ФИО</th>
                          <th>Дата регистрации</th>
                        </tr>
                      </thead>
                  <tbody>
                  {% for sh in sHolder %}
                  {% if sh.state != '0'%}
                 <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" name="shCheck" value="{{sh._id}}" aria-label="...">
                    </div>
                </th>
                <td>{{sh.lastname}} {{sh.firstname}} {{sh.patronymic}}</td>
                <td>{{sh.regDate}}</td>
              </tr>
                 {%endif%}
                 {% endfor %}
                </tbody>
              </table>
              </div>
              </div>
        <div class="tab-pane fade" id="public-sh" role="tabpanel" aria-labelledby="public-sh-tab">
                <div class="scroll-div">
            <table class="table">
                <thead>
                  <tr>
                    <th>
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" name="shCheck" value="all" aria-label="...">
                        </div>
                    </th>
                    <th>ФИО</th>
                    <th>Дата регистрации</th>
                  </tr>
                </thead>
            <tbody>
            {% for sh in sHolder %}
            {% if sh.state == '2' %}
         
            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" name="shCheck" value="{{sh._id}}" aria-label="...">
                    </div>
                </th>
                <td>{{sh.lastname}} {{sh.firstname}} {{sh.patronymic}}</td>
                <td>{{sh.regDate}}</td>
            </tr>
           {% endif %}
           
           {% endfor %}
          </tbody>
        </table>
        </div>
          
        </div>
        <div class="tab-pane fade" id="wait-sh" role="tabpanel" aria-labelledby="wait-sh-tab">
                <div class="scroll-div">
            <table class="table">
                <thead>
                  <tr>
                    <th>
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" name="shCheck" value="all" aria-label="...">
                        </div>
                    </th>
                    <th>ФИО</th>
                    <th>Дата регистрации</th>
                  </tr>
                </thead>
            <tbody>
            {% for sh in sHolder %}
            {% if sh.state == '1' %}
            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" name="shCheck" value="{{sh._id}}" aria-label="...">
                    </div>
                </th>
                <td>{{sh.lastname}} {{sh.firstname}} {{sh.patronymic}}</td>
                <td>{{sh.regDate}}</td>
            </tr>
           {% endif %}
           
           {% endfor %}
          </tbody>
        </table>
        </div>
        </div>
        <div class="tab-pane fade" id="closed-sh" role="tabpanel" aria-labelledby="closed-sh-tab">
                <div class="scroll-div">
            <table class="table">
                <thead>
                  <tr>
                    <th>
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" name="shCheck" value="all" aria-label="...">
                        </div>
                    </th>
                    <th>ФИО</th>
                    <th>Дата регистрации</th>
                  </tr>
                </thead>
            <tbody>
            {% for sh in sHolder %}
            {% if sh.state == '3' %}
            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" name="shCheck" value="{{sh._id}}" aria-label="...">
                    </div>
                </th>
                <td>{{sh.lastname}} {{sh.firstname}} {{sh.patronymic}}</td>
                <td>{{sh.regDate}}</td>
            </tr>
           {% endif %}
           
           {% endfor %}
          </tbody>
        </table>
        </div>
        </div>
        </div>
      </div>
      </form>
      
    
    </div>
  </div>
 

  
{% endblock %}
{% block commonJS %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="../js/regsurvey.js"></script>
{% endblock %}