
{% extends "templates/pageTemplate.html" %}
        <!-- Для шапки и футера однозначно нужен темплейт -->
{% block content %}
<link rel="stylesheet" href="/css/main.css">
{% include "templates/pageTopMenu.html" %}
<hr>


<div class="conatiner-fluid">
        <div class="left row col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="event-list">
                        <p class="h-ev">События и мероприятия</p>
                        {%for e in events%}
                        <a class="event" href={{'/events/id/'+e.id}}>
                        <p><img src="/img/event.png" alt=""><span class="date"> {{e.date}}</span><br>
                        {{e.name}}<br>
                        <img src="/img/стрелка.png" alt="">
                        </p>
                        <br>
                        </a>
                        {%endfor%}
                        <br>
                        <a href="/events" class="allevents"> Все события </a>
                </div>
        </div>
        <div class="row times col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">

                <div class="col-xl-2 col-lg-2 col-md-5 col-sm-12 col-12 list-item">
                        <img align="left" src="/img/отчеты.png" width="25px" height="25px" class="img-menu2">
                        <div class="inner">
                                <a class="align-self-center" href="/publicreport">Публичные отчеты</a>
                        </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-5 col-sm-12 col-12 list-item">
                        <img  align="left" src="/img/опросы.png" width="25px" height="25px" class="img-menu2">
                        <div class="inner">
                                <a class="align-self-center" href="/survey">
                                        Публичные опросы
                                </a> 
                        </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-5 col-sm-12 col-12 list-item">
                        <img align="left" src="/img/мероприятия.png" width="25px" height="25px" class="img-menu2">
                        <div class="inner">
                                <a class="align-self-center" href="/events">
                                       Мероприятия и материалы 
                                </a>
                        </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-5 col-sm-12 col-12 list-item">
                        <img align="left" src="/img/карта.png" width="25px" height="25px" class="img-menu2">
                        <div class="inner2">
                                <a class="align-self-center" href="/personsmap">
                                        Карта <span class="d-none d-xl-block">заинтересованных сторон</span>
                                </a>  
                        </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-5 col-sm-12 col-12 list-item">
                        <img align="left" src="/img/кабинет.png" width="25px" height="25px" class="img-menu2">
                        <div class="inner2">
                                <a class=" align-self-center" href="/lk">
                                        Личные кабинеты <span class="d-none d-xl-block">заинтересованных сторон</span>
                                </a>
                        </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-0 col-sm-0 col-0"></div>
                <hr class="col-12">
                <div class="content-img col-6"> <img src="/img/фото.png" width="100%"></div>
                <div class="content-text col-6">
                                <center><h4>Инжиниринговый дивизион Госкорпорации «Росатом» </h4></center>
                                <br>
                                <p>
                                - включает в себя четыре ключевые организации: АО ИК «АСЭ» (г. Нижний Новгород) – управляющая компания, АО АСЭ (г. Нижний Новгород), АО «Атомэнергопроект» (г. Москва), АО «АТОМПРОЕКТ» (г. Санкт-Петербург); 
                                <br>
                                -  занимает более 30% глобального рынка сооружения атомных электростанций;
                                <br>
                                - оказывает услуги по управлению проектом, проектированию, поставке оборудования и сооружению безопасных и надежных атомных электростанций с реакторами типа ВВЭР поколения III/III+, конкурентоспособных по стоимости и срокам сооружения;
                                </p>
                                       <p><a href="/about"><img src="/img/2стрелки.png" alt=""></a></p> 
                </div>
                <div class="old">
                        <img src="/img/ключ.png" alt=""><span> Данная платформа взаимодействия с заинтересованными сторонами является второй версией платформы, созданной в 2013 году. Первая версия платформы с материалами находится по <a class="ss-old" target="_blank" href="http://stakeholderpanel.ru/">ссылке</a></span>
                </div>
        </div>
</div>

{% endblock %}