{% extends "templates/pageTemplate.html" %}
        <!-- Для шапки и футера однозначно нужен темплейт -->
{% block content %}

    <div class="container">
        <h1>Результаты:</h1>
        {%if survey%}
        {%for s in survey%}
        <p><a href={{"/survey/name"+s.name}}>Опрос: {{s.name}}({{s.description}})</a></p>
        {%endfor%}
        {%endif%}
        <br>
        {%if report%}
        {%for r in report%}
        <p><a href={{"/publicreport/id/"+r.id}}>Отчет: {{r.name}}({{r.description}})</a></p>
        {%endfor%}
        {%endif%}
        <br>
        {%if event%}
        {%for e in event%}
        <p><a href={{"/events/id/"+e.id}}>Мероприятие: {{e.name}}({{e.description}})</a></p>
        {%endfor%}
        {%endif%}

        {%if instruction%}
        <p><a href="/instruction">{{instruction}}</a></p>
        {%endif%}

    </div>

{% endblock %}