{% extends "templates/pageTemplate.html" %}
        <!-- Для шапки и футера однозначно нужен темплейт -->
{% block content %}
<link rel="stylesheet" href="/css/search.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{% include "templates/pageTopMenu.html" %}
<hr>
    <div class="content row">
        <div class="result-search col-xl-9 col-md-9 col-sm-9 col-12 text-center">
            <div class=" name">{{name}}</div>
            <div class=" description">({{description}})</div>
            {% if question %}
            {% for item in answer %}
            <div class="block-question">
            <span class="question">{{question.shift()}}</span><br>
            <span class="data">   
                    {% if item != 'text' %}
                    <select class="ans_select">{% for array_item in item %}
                    <option>{{array_item}}</option>
                    {% endfor %}
                    </select>
                    {% else %} <input type="text" class="ans_text">
                    {% endif %}
          
            </span>
            </div>
          {% endfor %}
          {% endif %}
          <br>
          {% if (annotation  or file) %}
          <div class="annotation">аннотация: ({{annotation}}) <a href={{ file }} class="file"> скачать файл</a></div>
          {% endif %}
          <br>
          {% if question %}
          <button class="send">отправить</button>
          {% endif %}
          <div class="container result"></div>
        </div>
        {% include "templates/sideMenuTemplate.html" %}
    </div>
    <script src="/js/survey.js"></script>
{% endblock %}

