
@font-face{
    font-family: 'Regular';
    src: url('/font/PTSans-Regular.ttf');
    src: url('/font/PTSans-Regular.ttf?iefix') format('eot'),
    url('/font/PTSans-Regular.ttf') format('woff'),
    url('/font/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
        
        }

.menu{
    height: 5vh;
    width: 90vw;
    margin-left: 5vw;
    font-family: 'Regular';
    font-size: 1.2em;
    color:rgb(0, 0, 0);
    font-weight:bold
}
hr{
    border: 0;
    border-bottom: 3px solid rgb(205,205,205);
}
a:hover,a{
    color:rgb(0, 0, 0);
    text-decoration: none; 
}
.list{
    height: 130px;
    width: 72vw;
    margin: 0px;
    font-family: 'Regular';
    color:rgb(0, 0, 0);

}
.list-item{
    height: 110px;
    margin: 0px;
    background-color:rgb(205,205,205);
    
}
.list-item:last-child{
    margin-right: 0vw;
}
.img-menu2{
    position: relative;
    left:20px;
    top: 10px
}
.event-list{
    height: 530px;
    width: 20vw;
    margin-left: 1vw;
    overflow-x:hidden;
    padding-left: 3vw
}
.content-img{
    margin-top: 10px;
    height: 374px;
    background: url('/img/фото.png') no-repeat;
}
.content-text{
    margin-top: 10px;
    height: 374px;
    overflow-x:hidden;
}
.main{
    width: 100vw;
    padding-bottom: 80px
}
.old{
    margin-top: 30px;
    font-size: 0.9em
}
a.ss-old{
    font-size: 1.1em;
    color: blue;
}
.date{
    color:rgb(205,205,205);
    font-size: 0.9em
}
.allevents{
    border:3px solid rgb(31,58,106)
}
.h-ev{
    color:rgb(205,205,205);
}