.block{
    margin:15px;
    border: 3px solid #9da1aa
}
div{
    margin:5px
}
.question{
    width: 400px
}
button{
    margin:0 45% 0 45%;
  width:10%;

}
.result{
    color: red;
    font-size: 20px;
}
.answer{
    margin:15px
}
.ansres{
    margin:15px
}
.description{
    margin: 15px;
    width: 400px;
}