
.container-fluid * {
    outline: none;
    overflow: hidden;
}

.cards {
    padding: 25px 20px 25px;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #dfdfdf;
}
.col-xl-9.col-md-7.col-sm-7.col-6 {
    height: 530px;
    overflow-y: scroll;
}
.cards > div {
    max-width: 800px;
}

.cards:last-of-type {
    border: none;
}
.col-xl-9.col-md-9.col-sm-9.col-12 {
    overflow-y: scroll;
    height: 530px;
    padding: 20px 0px 20px;
}
.mb-2 p {
    font-size: 16px;
    color: grey;
}

.smallbox {
    max-width: 40%;
}

.box {
    max-width: 60%;
}

@media screen and (max-width: 1380px){
    .smallbox {
        max-width: 290px;
        min-width: 100%;
    }

    .box {
        max-width: 440px;
        min-width: 100%;
    }
}




.standarts  p > * {
    display: inline-block;
    /* vertical-align: top; */
}

.standarts  > div {
    float: left;
    margin-right: 5px;
}



.standarts > * {
    /* margin-top: 9%; */
    display: inline-block;
    vertical-align: top;
    /* padding-left: 5px; */
}

.standarts b {
    height: 100%;
    float: left;
    margin-right: 8px;
}

img.card-img-left {
    margin: auto 0px;
}

.standarts p {
    vertical-align: top;
}
.mb-2 a {
    color: #003770!important;
}
.cards img {
    margin-right: 5px;
}
.container > ul {
    list-style-position: inside;
}

ul {
    list-style-position: initial;
}
ul p {
    display: contents;
}
li {
    margin: 10px 0px;
}
h6 a {
    font-size: 13px;
}