.content{
    width: 100vw;
    font-size: 1.2em;
    margin-left: 0;
   
}
#side-menu{
    
    right:0px;
}
.menu{
    height: 60px;
    width: 90vw;
    margin-left: 5vw;
    font-family: 'Regular';
    font-size: 1.2em;
    color:rgb(0, 0, 0);
    font-weight:bold
}
hr{
    border: 0;
    border-bottom: 3px solid rgb(205,205,205);
}
a:hover,a{
    color:rgb(0, 0, 0);
    text-decoration: none; 
}
.send{
    margin-left: 40%;
    width: 20%;
}
.file{
    color: blue;
}