@font-face {
    font-family: 'Regular';
    src: url('/font/PTSans-Regular.ttf');
    src: url('/font/PTSans-Regular.ttf?iefix') format('eot'),
    url('/font/PTSans-Regular.ttf') format('woff'),
    url('/font/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;        
}

@font-face {
    font-family: 'Bold';
    src: url('/font/2223.ttf');
    src: url('/font/2223.ttf?iefix') format('eot'),
    url('/font/2223.ttf') format('woff'),
    url('/font/2223.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Regular";
}


.img-flag {
   margin: 7px;
    margin-right: 15px;
   width: 17px;
   height: 34px;
}

.head-text {
    font-family: 'Bold';
    font-size: 1.1em;
    color:rgb(31, 58, 106);
    font-weight: bold
}

.img-chat {
    width: 20px;
    margin-right: 5px;
}
.img-log{
    width: 30px;
    margin-right: 5px;
}

.search {
    font-family: 'Regular';
    padding-top: 15px;
    color:rgb(31, 58, 106);
}

@media screen and (max-width: 768px) {
    .search {
        text-align: center;
    }
    .form-search{
        width: 90% !important;
    }
}

a:hover,a{
    color:rgb(31, 58, 106);
    text-decoration: none; 
}

.input-search {
    width: 115px;
    outline: none;
    border: 0px;
}

.form-search {
    width: 140px;
    margin-top: 15px;
    border-bottom: 2px solid rgb(205,205,205);
}

.chat {
    border-bottom: 2px solid rgb(205,205,205);
}

hr {
    border: 0;
    border-bottom: 3px solid rgb(205,205,205);

    margin-bottom: 0;
}

html {
    position: relative;
    min-height: 100%;
}
  
body {
    margin-bottom: 70px;
}
footer{
    font-family: 'Regular';
    color:rgb(205,205,205);
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    border-top: 3px solid rgb(205,205,205);
}
.foot{
    margin-top: 10px;
    margin-left: 5%;
}

.right-delimiter {
    border-right: 1px solid #929292;
}

.left-delimiter {
    border-left: 1px solid #929292;
}

.colums > div {
    padding: 0 40px 0 40px;
    margin-top: 2rem;
}

.colums img {
    margin-bottom: 5px;
}

#surveys {
    padding-right: 10px;
}

.surveys-list {
    overflow: auto;
}

#surveys .survey a {
    display: block;
    line-height: 16px;
    color: #929292;

    transition: 0.2s all ease-in-out;
}

#surveys .survey a:hover,
#surveys .survey a:focus {
    color: #000;
}

#surveys .survey a .annotation {
    font-size: 12px;
}

.surveys-list > .survey {
    margin-bottom: 1rem;
}

.block-title {
    font-size: 15pt;
    font-weight: 600;

    margin-bottom: 1rem;
}

.block-title img {
    height: 23px;
}

#surveys-results .block-title img,
#documents .block-title img {
    height: 18px;
}

#events .block-title img {
    height: 19px;
}

.document {
    margin-bottom: 20px;
}

.document .confirm {
    margin: 0 10px;
}

.document .confirm-input {
    margin: 0;
}

.document .confirm-text {
    font-size: 10pt;
}

.document .title {
    font-size: 13pt;
    font-weight: bold;
}

.document .download-pdf {
    font-size: 10pt;
    line-height: 30px;

    color: #000;

    transition: 0.2s color ease-in-out;
}

.document .download-pdf:hover,
.document .download-pdf:focus {
    color: #1f3a6a;
}

.document .description {
    font-size: 10pt;
    line-height: 15px;

    color: #929292;
}

.document .comments .field {
    background-color: #f9f9f9;
    border: 2px solid #e7e7e7;
    border-left: none;
    border-right: none;

    padding: 0 5px;
}

.document .comments-title {
    margin: 0;
    color: #1f3a6a;
    font-weight: bold;
    font-size: 10pt;
}

.document .comments .members {
    color: #929292;
    font-size: 9pt;
    font-weight: bold;

    margin-bottom: 5px;
}

.document .comments .comment {
    font-size: 10pt;
    font-weight: bold;
}

.document .comments .comment .date {
    color: #929292;
    font-weight: normal;
}

.document .comments .comment.right {
    color: #1f3a6a;
    text-align: right;
}

.document .comments .comment.right .text {
    margin-left: 5px;

    float: right;
}

.document .comments input.comment {
    border-radius: 0;
    border: 0px solid #e7e7e7;
    border-right: 2px solid #e7e7e7;
    padding-left: 0;
    padding-right: 0;
    font-size: 10pt;
    height: 30px;

    transition: 0.2s all ease-in-out;
}

.document .comments input.comment:focus {
    box-shadow: none;
    border: 2px solid #c5c5c5;
}

.event {
    margin-bottom: 20px;
}

.event .date {
    margin-bottom: 10px;

    font-size: 10pt;
    color: #929292;
}

.event .date img {
    height: 16px;
    margin-right: 5px;
}

.event .description {
    font-size: 10pt;
    line-height: 15px;

    margin-bottom: 10px;
}

.event .accept-buttons {
    font-size: 14pt;
}

.event .accept-buttons a {
    transition: 0.2s all ease-in-out;
}

.event .accept-buttons a:hover,
.event .accept-buttons a:focus {
    color: #000;
}

.event .accept-buttons .accept {
    color: #1f3a6a;
}

.event .accept-buttons .accept img {
    height: 20px;
}

.event .accept-buttons .decline {
    float: right;
    color: #b6b6b6;
}


#side-menu {
    margin-top: 0;
    padding: 2rem 0 0 0;

    background-color: #e4e4e4;
}

#side-menu ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

#side-menu .wrapper {
    display: flex;

    align-items: center;
    font-size: 13pt;
    color: #000;
    line-height: 17px;

    padding: 10px 0 10px 20px; 

    transition: 0.2s background-color ease-in-out;
}

#side-menu .wrapper:hover {
    background-color: #c2c2c2;
} 

#side-menu .wrapper img {
    height: 50px;
    margin-right: 10px;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .right-delimiter,
    .left-delimiter {
        border: none;
    }
.auth {
    color:grey;
}


.nav-tabs .nav-link.auth.active{
    color:rgb(31, 58, 106);
}

.nav-tabs .nav-link{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.autorize-block{
    padding: 30px;
    border: solid 1px #dee2e6;
    border-top: 0px;
}

.autorize-block .form-control{
    border: 1px solid rgb(31, 58, 106);
    border-radius: 0px;
}

.content-block{
    margin-top: 42px;
    border: solid 1px #dee2e6;
    padding: 30px;
}
.content-block img{
    margin: 10px;
}

.row-flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.auth-button{
    background-color: rgb(31,58,106);
    border-color: rgb(31,58,106);
    border-radius: 0px;
}}
.exit{
    margin-top: 20px;
    max-width: 140px;
    height: 30px;
    line-height: 10px;
}
.container-fluid{
    padding: 0px;
}

.navbar{
    margin-bottom: 1vw;
    border-bottom: 3px solid rgb(205,205,205);
}

.navbar-brand{
    padding-left: 5vw; 
}

nav.navbar {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.times{
    padding-top: 1vw; 
}

.align-self-center{
    position: relative;
    height: 5em;
}

.right{
    float:right;
}
.left{
    float:left;
}

.event-main{
    display: inline;
}

button {
    border: 4px solid #1f3a6a!important;
    background: white;
    color: #1f3a6a;
    height: 40px;
    width: 130px;
    cursor:pointer;
}