
{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block commonStyles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/temp.css">
    {% endblock %}
    <title></title>
</head>
<body>
{% endblock %}

{% block navbar %}

<nav class="navbar navbar-expand-lg row header">
    <a class="navbar-brand col-lg-2 col-sm-2 col-2" href="/main">
      <img src="/img/логотип1.png" width="90px" height="65px">
    </a>
    
    <div class="collapse navbar-collapse head-text col-lg-8 col-md-8 col-sm-0 col-0 col-sm-0">
           <img src="/img/флаг.png" align="left" class="img-flag">
          <div>Интерактивная платформа взаимодействия<br>
с заинтересованными сторонами Инжинирингового дивизиона Госкорпорации «Росатом»</div> 
    </div>
      
    <div class="search  col-md-2 col-sm-12 col-12">
            {%if sh%}
            <a href="/lk" class="chat">
            <div> <img src="/img/log.png"  class="img-log">{{sh.lastname}} {{sh.firstname[0]}}.{{sh.patronymic[0]}}.</div></a>
            {%else%}
            <a href="/feedback" class="chat">
            <div> <img src="/img/обратная-связь.png" class="img-chat"> Обратная связь</div> </a> 
            {%endif%}
      <form action="/search/" method="POST" class="form-search">
        <input type="image" name="picture" src="/img/лупа.png"  width="20px">
        <input class="input-search" type="search" placeholder="Поиск" aria-label="Search" name="search">
      </form>
      {%if sh%}
      <form action="/lk/logout">
        <button type="submit" class="exit">Выйти</button>
      </form>
      {%endif%}
    </div>
  </nav>


{% endblock %}


<div class="container-fluid">
  
<!-- ======================================================================= -->
<!-- Main content -->
<!-- ======================================================================= -->
            {% block content %}
            {% endblock %}
      
</div>



{% block flashMessage %}
{% endblock %}

<!-- ======================================================= -->
<!-- Footer -->
<!-- ======================================================= -->
{% block footer %}
<div id="acceptCookie" data-cookie-expiry="60" style="display: none;">
    <p>
     Этот сайт использует cookies. Продолжая работу с сайтом, Вы выражаете своё согласие на обработку Ваших персональных данных с использованием интернет-сервиса Яндекс Метрика. Отключить cookies Вы можете в настройках своего браузера. 
<a href="/cookies" title="Подробнее о Cookie"> Подробнее</a></p>
<div id="cookie_access" onclick="iAccept()">СОГЛАСЕН</div>
</div>
<footer>
        <div class="foot">
               <p>Copyright 2013-2019 «Да-Стратегия»<br>
Все права защищены. Использование материалов возможно только с разрешения администрации<br>
                <a href="/legal-notice" style="color:darkblue">Правовая информация</a>
</p> 
        </div>
    </footer>  
    {% if not currentUser %}{% endif %}
    {% block commonJS %}
    <script src="/js/cookie.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
{% endblock %}
