<div id="side-menu" class="col-xl-3 col-md-3 col-sm-3 col-12">
        <ul>
                <li>
                        <a href="/publicreport">
                                <div class="wrapper">
                                        <img src="/img/lk/public_reports.png" alt="preports">
                                        Публичные отчеты
                                </div>
                        </a>
                </li>

                <li>
                        <a href="/personsmap">
                                <div class="wrapper">
                                        <img src="/img/lk/stakeholders_map.png" alt="shsmap">
                                        Карта заинтересованных сторон
                                </div>
                                
                        </a>
                </li>

                <li>
                        <a href="/survey">
                                <div class="wrapper">
                                        <img src="/img/lk/public_surveys.png" alt="psurveys">
                                        Публичные опросы
                                </div>
                        </a>
                </li>

                <li>
                        <a href="/events">
                                <div class="wrapper">
                                        <img src="/img/lk/events_and_materials.png" alt="psurveys">
                                        Мероприятия и материалы
                                </div>
                        </a>
                </li>

                <li>
                        <a href="/about">
                                <div class="wrapper">
                                        <img src="/img/lk/about_company.png" alt="psurveys">
                                        О компании
                                </div>
                        </a>
                </li>

                {% if session.stakeholder %}
                
                <li>
                        <a href="/instruction">
                                <div class="wrapper">
                                        <img src="/img/lk/inst.png" alt="psurveys">
                                        Инструкция для стейкхолдера
                                </div>
                        </a>
                </li>
                <li>
                        <a href="/feedback">
                                        <div class="wrapper">
                                                <img src="/img/lk/about.png" alt="psurveys">
                                                Обратная связь
                                        </div>
                                </a>
                </li>

                
                {% endif %}
        </ul>
</div>